name: Lint (clang-tidy)

on: [pull_request, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install clang-tidy, parallel in catch
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: clang-tidy parallel
          version: 1.0

      - name: make build dirctory
        run: cmake -B build
      - name: clang-tidy parallel
        run: git ls-files '*.cpp' '*.hpp' | grep -v '^unit_test_sample/' | parallel clang-tidy -p build -quiet
